@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;